<!-- about.ejs 
Eduardo Fernandes 
ID 301290717 
june 17, 2023 
-->
<!-- thi hmtl file combined with about.ejs is where I choose to add information about me link to an CSS file separate exclusive to 
this about.ejs-->




<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/about.css' />

</head>
<h1>Hey, It`s me...</h1>

  
  
    <div class="container-image">
    
        <img class="photo" src="Assets/images/Edu2.jpg" alt="Eduardo Fernandes Photo">
    </div>

    <div class="text" >
        <p>Allow me to introduce myself. My name is Eduardo Fernandes, and I am delighted to be here. 
           Currently, I am pursuing my studies in Software Engineering Technician program at Centennial College (Toronto/CA).
           Drawing from my extensive experience in Business Management, Project Management, and Business Analysis, 
           I bring a unique blend of expertise to the table. 
           I am passionate about technology and dedicated to honing my skills in software development and Business Analysis.
        </p>   
            
        <p>Although I am based in Calgary, AB, Canada, I am thrilled to connect with individuals from different corners of the world. 
           Collaborating with people who have varied perspectives and experiences has always been fascinating to me. 
           The reason I chose to pursue this program at Centennial College is to further enhance my skills in Project Management and Business Analysis by
           incorporating programming languages such as JavaSciprt, Java, C#, SQL, Node.js and others. I am eager to broaden my knowledge and expertise in these areas,
           and I am excited about the opportunities that lie ahead.
        </p>   
            
          <p>
            I firmly believe that combining these technical skills with my existing knowledge will empower me to excel in my future career endeavors.
            Looking ahead, my vision for the future is to leverage the knowledge gained from the Software Engineering Technician program to strengthen my
            background in business analysis and project management. I aim to support developers and have a deep understanding of software building and systems. 
            By merging these two domains, I hope to play a vital role in shaping the software development processes and contribute to creating innovative solutions.
            On a personal note, I have a wonderful companion in my life a dog named Zoey (which in Greek means Life). She is my best friend and a constant source of joy and comfort.
        </p>   
           
        <p> 
            If you have any further questions or would like to know more about me, please feel free to ask.
        </p>

       
       
        <p><a class="btn btn-primary" href="https://drive.google.com/file/d/1BaINkm1xdz15mw98r7RbO5KgyTyoIr3G/view?usp=share_link" target="_blank" role="button">Download Resume</a></p>
        <br>
        <br>
        <br>
      

    </div>


    <%- include partials/bottom_nav.ejs %>

    <%- include partials/footer.ejs %>





  
