<!-- index.ejs 
Eduardo Fernandes 
ID 301290717 
May 31, 2023 
-->


<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
   
   
  <h1>Welcome </h1>
 

 </div>

  <div class="box">

 
    <p>
      This platform serves as a showcase of my skills, experiences, and projects. I aim to provide you with valuable insights into my journey and expertise in Business Analysis and Software Engineering.
      Through this website, I invite you to explore my portfolio, learn more about me, and discover the services I offer. Feel free to reach out to me for collaborations, inquiries, or any other opportunities.
      Thank you for visiting, and I hope you find this website informative and inspiring.
      </p> 

  </div>



</body>
</html>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>



