<!-- projects.ejs 
Eduardo Fernandes 
ID 301290717 
jun 17, 2023 
-->
<!-- thi hmtl ffile where I show lastest projects that was worked on it -->


<%- include partials/main_nav.ejs %>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/projects.css' />

</head>
<body>

    
 
  
  <h1>Projects</h1>
 

    <div class="container">
            <div class="box">
                <h2> Project Bug Smasher </a></h2>
                <p>Bug Smasher was created in JavaSciprt and Html</p>
                <a href="https://www.youtube.com/watch?v=of7WFTLNtSU" target="_blank"> Demo Video</a>
            </div>

            <div class="box">
              <h2>Project Payment Form</h2>
              <p>Payment form was created in JavaSciprt, HMTL and CSS</p>
              <a href="https://www.youtube.com/watch?v=_0YK5RnCs14" target="_blank"> Demo Video</a>

            </div>
            
            <div class="box">
              <h2>Project Nature Website</h2>
              <p>Website was created in HTML and CSS</p>
              <a href="https://www.youtube.com/watch?v=2LpKm9m_C8s" target="_blank"> Demo Video</a>
            </div>
    </div>



</body>
</html>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
